<div class="sideMenu">
    <ul class="nav flex-column barra-lat">
        <li class="nav-item">
            <h1 class="nav-link">Redes Sociales</h1>
        </li>
        <li class="nav-item">
            <a target="_blank" href="https://www.instagram.com/santi_viera/?hl=es-la" class="nav-link">Instagram</a>
            <a target="_blank" href="https://www.linkedin.com/in/santiago-viera-878612231/"
                class="nav-link">Linkedin</a>
            <a target="_blank" href="https://github.com/santiviera02" class="nav-link">GitHub</a>
        </li>
        <li class="nav-item">
            <h1 class="nav-link">Gmail</h1>
        </li>
        <li>
            <a class="nav-link">santigoviera81@gmail.com</a>
        </li>
    </ul>
</div>